/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Variables */
:root {
    /* Primary Color */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral Color */
    --off-white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
    background: var(--off-white);
}

p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: var(--very-dark-blue);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }

/* Utility Styles */

/* Mobile Styles */
/* Main Styles */
img.puzzle-image {
    width: 100%;
}

h1 {
    margin-block: 1rem;
    color: var(--very-dark-blue);
    font-weight: 800;
    font-size: 2.5rem;
}

/* About Styles */
.about p {
    margin-block: 1rem;
}
.about a {
    margin-block-start: 1rem;
    letter-spacing: 0.25rem;
    color: var(--off-white);
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    background-color: var(--soft-red);
}

/* Aside Styles */
aside {
    margin-block: 4rem;
    background-color: var(--very-dark-blue);
    padding: 1.5rem 1rem;
}

aside h2 {
    color: var(--soft-orange);
    font-weight: 700;
    font-size: 2rem;
    margin-block-end: 1rem;
}

/* Aside-Details */
.aside-details .detail-content {
    border-bottom: 0.5px solid hsl(233, 8%, 79%, 0.5);
}

.aside-details .detail-content:last-child{
    border: none;
}

.aside-details .detail-content h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
    color: var(--off-white);
}

.aside-details .detail-content p {
    margin-bottom: 2rem;
    color: var(--gray-blue);
}

.aside-details .detail-content:last-child p {
    margin-bottom: 0;
}

/* Article Styles */
article {
    margin-block-end: 2rem;
}

article:last-child {
    margin-block-end: 7rem;
}

.articles {
    display: flex;
    align-items: center;
}

.articles img {
    width: 33%;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline-start: 1rem;
}

.article-content h2 {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--gray-blue);
}

.article-content h3 {
    color: var(--very-dark-blue);
    font-size: 1.1rem;
    font-weight: 800;
}

.article-content p {
    color: var(--dark-gray-blue);
    margin-bottom: 0;
}

/* Footer Styles */
address {
    margin-bottom: 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}